:root {
  --card-height: 35vh;
}

body {
  min-height: 100vh;
  background: #f7ffe4;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

h2 {
  color: #361800;
  font-family: "Georgia", cursive;
  margin-bottom: 20px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.user {
  color: white;
  font-size: 24px;
  font-family: "Titan One", cursive;
}

/* Card and GIF container styling */
.custom-card {
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  margin-bottom: 30px;
  background: url('https://i.pinimg.com/originals/98/58/74/9858745cd157f2797065e639c5b3bf23.jpg') repeat-x;
}



.custom-card::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  animation: spin 2.5s linear infinite;
}

.custom-card::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  filter: blur(15px);
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* GIF styling */
.gif-container {
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-container .custom-card {
  width: 100%;
  height: 100%;
}

.gif {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* Form styling */
.form-inline {
  margin-top: 30px;
}

.guess-text {
  font-size: 1.2em;
  font-weight: bold;
}

/* Flower icon */
.flower-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.flower {
  width: 50px;
  height: auto;
}

/* Footer styling */
.footer {
  background-color: #361800;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer span {
  font-family: "Georgia", cursive;
}
